/* your beautiful css styling goes here! */

/* Note: an asteroid image is included in this repo.
Feel free to use it if you like. */
body {
  background: url(assets/stars.jpg);
  background-size: cover;
}

.scoreboard {
  color: white;
}

.player {

}

.enemy {

}

@keyframes spin {
  from {transform: rotate(0deg);}
  to {transform: rotate(359deg);}
}

@keyframes oscillate {
  0%  {transform: translateX(0px);}
  12% {transform: translateX(-5px);}
  24% {transform: translateX(0px);}
  36% {transform: translateX(5px);}
  48% {transform: translateX(0px);}
  60% {transform: translateX(-5px);}
  72% {transform: translateX(0px);}
  84% {transform: translateX(5px);}
  100% {transform: translateX(0px);}
}